<p>
  <strong>Title</strong>
  <%= @log.level %>
</p>

<p>
  <strong>Text:</strong>
  <%= @log.receipt_time %>
</p>

<p>
  <strong>Text:</strong>
  <%= @log.question %>
</p>
<p>
  <strong>Text:</strong>
  <%= @log.response_time %>
</p>
<p>
  <strong>Text:</strong>
  <%= @log.answer %>
</p>

<%= link_to 'Back', logs_path %>